<div class="container mt-4 text-center">
  <div class="card">
    <div class="card-body">
      <h1 class="mb-4">All Applications Have Been Scored</h1>
      <p class="lead">All applications have received at least 2 scores.</p>
      <div class="mt-4">
        <%= link_to "Return to Scoring Overview", scorings_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div> 