<%# Review buttons partial %>
<div class="review-buttons">
  <%= button_to submit_review_path(application, decision: :yes, from_index: params[:from_index]), 
                method: :post,
                class: "btn btn-success" do %>
    Accept <i class="fas fa-check"></i>
  <% end %>

  <%= button_to submit_review_path(application, decision: :maybe, from_index: params[:from_index]), 
                method: :post,
                class: "btn btn-warning" do %>
    Maybe <i class="fas fa-question"></i>
  <% end %>

  <%= button_to submit_review_path(application, decision: :no, from_index: params[:from_index]), 
                method: :post,
                class: "btn btn-danger" do %>
    Reject <i class="fas fa-times"></i>
  <% end %>

  <%= button_to submit_review_path(application, skip: true), 
                method: :post,
                class: "btn btn-secondary" do %>
    Back to Index <i class="fas fa-arrow-left"></i>
  <% end %>
</div> 